<ion-view view-title="Recipient: {{message.recipient.name}}">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" style="background-color: white;">
                    <span class="input-label">
                        Recipient:
                    </span>
                    <select ng-model="message.recipient" ng-change="recipientChanged(message.recipient)" ng-model="message"
                            ng-options="user.name group by (user.socket_id === undefined ? 'Logged-out':'Logged-in') for user in users"></select>
                </label>
                <button class="button button-large  button-balanced" ng-click="send(message)">
                    Send
                </button>
            </div>
        </div>


        <div class="list">
            <label class="item item-input">
                <textarea placeholder="message" ng-model="message.content"></textarea>
            </label>
            <ul class="list">
                <div ng-repeat="item in conversation track by itemTracker(item)" class="animation2">
                    <div ng-class="'chat '+(item.direction=='received'?'col-offset-10':'')">
                        <div class="card">
                            <div ng-class="'item item-divider '+(item.direction==='received'?'item-positive':'item-calm')">
                                {{item.timestamp}}
                            </div>
                            <div class="item item-text-wrap">
                                {{item.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </ion-content>
</ion-view>
<div class="bar bar-footer">
    <button class="button button-clear pull-right">Right</button>
</div>
