<ion-view view-title="Chats: {{getUser().name}}">
    <ion-content>
        <ion-list>
            <ion-item ng-hide="user._id === getUser()._id" class="item-avatar item-icon-right"
                      ng-repeat="user in users"
                      type="item-text-wrap" href="#/tab/chats/{{user._id}}">

                <div class="item-button-right">
                    <h2>{{user.name}}</h2>
                    <span ng-show="user.socket_id" class="badge badge-assertive">{{numberOfUnread(user._id)}}</span>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
